config:
  core.trust_password: {{ lxd.secret }}
  core.https_address: "{{ lxd.https.adress }}:{{ lxd.https.port }}"
  images.auto_update_interval: {{ lxd.image.auto_update_interval }}
storage_pools:
- config:
  name: default
  driver: dir
networks:
{% if lxd.bridge.use_bridge %}
- name: {{ lxd.bridge.name }}
  type: bridge
  config:
    ipv4.address: {{ lxd.bridge.ipv4_network }}
{% if lxd.bridge.ipv4_dhcp_range %}
    ipv4.dhcp: "true"
    ipv4.dhcp.gateway: "{{ lxd.bridge.ipv4_addr }}"
    ipv4.dhcp.ranges: "{{ lxd.bridge.ipv4_dhcp_range }}"
{% endif %}
    ipv4.nat: "{{ lxd.bridge.ipv4_nat }}"
{% endif %}
{# This part corresponds to the LXD profile
We effectively emulate the LXD default profile #}
profiles:
- config: {}
  name: default
  description: "Default LXD profile"
  devices:
    root:
      path: /
      pool: default
      type: disk
    eth0:
      name: eth0
      nictype: bridged
      parent: {{ lxd.bridge.name }}
      type: nic
cluster: null
